body {
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
}
.container {
	/* width: 1000px; */
	display: flex;
	/* flex-basis: 1000px; */
	flex-direction: column;
	/* align-items: center; */
	border: 1px solid gray;
}
header {
	text-align: center;
}
main {
	padding: 10px;
	flex-basis: 700px;
	/* flex-shrink: 1; */
}
footer {
	border-top: 1px solid gray;
	padding: 20px;
	text-align: center;
}
.content {
	/* border: 1px solid blue; */
	display: flex;
	flex-direction: row;
	flex-basis: 1000px;
	/* align-items: center; */
	justify-content: center;
	/* width: 800px; */
}
nav {
	border-right: 1px solid gray;
}
aside {
	border-left: 1px solid gray;
}
nav,
aside {
	flex-basis: 150px;
	/* width: 150px; */
	flex-shrink: 0;
}
ul {
	list-style: none;
}

#menu {
	background: #98e0ad;
	height: 50px;
}
#menu ul {
	width: 500px;
	margin: 0 auto;
}
#menu .main > li {
	float: left;
	width: 20%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #98e0ad;
	position: relative;
}
#menu .main > li:hover .sub {
	display: block;
}
#menu .main > li a {
	display: block;
}
#menu .main > li a:hover {
	background: #138533;
	color: #fff;
}
#menu .main .sub {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	display: none;
}
#menu .main .sub li {
	background: #daaadb;
}
#menu .main .sub li:hover {
	background: #7a297b;
}
