* {
	/* background-color: #ffffff; */
	text-decoration: none;
	font-family: sans-serif;
	/* text-align: justify; */
}

body {
	margin: 0;
}

.container {
	display: flex;
	flex-basis: 1000px;
	flex-direction: column;
}

header {
	padding-top: 2rem;
	background: #4d6c8b;
	color: #ccc;
	text-align: center;
}

.header > * {
	background: #4d6c8b;
	text-align: center;
}

main {
	padding: 10px;
	flex-basis: 700px;
}

footer {
	border-top: 1px solid gray;
	padding: 20px;
	text-align: center;
}

.content {
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	/* flex-basis: 1000px; */
	justify-content: center;
	/* width: 800px; */
}

nav {
	border-right: 1px solid gray;
}

aside {
	border-left: 1px solid gray;
}

nav,
aside {
	flex-basis: 150px;
	/* width: 150px; */
	flex-shrink: 0;
}

ul {
	list-style: none;
}

#menu {
	/* background: #98e0ad; */
	background-color: #4d6c8b;
	height: 2rem;
}

#menu ul {
	width: 800px;
	margin: auto;
	list-style: none;
}

#menu .main > li {
	float: left;
	width: 20%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	position: relative;
}

#menu .main > li > a {
	background: #4d6c8b;
	color: #ffffff;
	text-align: center;
}

#menu .main > li:hover .sub {
	display: block;
	background: #ffffff;
}

#menu .main > li a {
	display: block;
}

#menu .main > li a:hover {
	background: #4d6c8b;
}

#menu .main .sub {
	position: absolute;
	top: 2rem;
	left: 0;
	width: 80%;
	display: none;
}

#menu .main .sub li {
	text-align: left;
}

#menu .main .sub li a {
	margin-left: -20%;
	margin-right: 0px;
	color: #797979;
}

#menu .main .sub li a:hover {
	background: #c5c4c4;
}
